/* Open Sans  add */
@font-face { font-family: 'Open Sans', sans-serif; }
@font-face { font-family: 'Raleway', sans-serif; }
/* Myriad Pro  add */
@font-face { font-family: 'Myriad Pro'; src: url("css/fonts/Myriad Pro Regular.ttf") format("ttf"); }
* { margin: 0; padding: 0; outline: 0; }

* { box-sizing: border-box; }

body { background-color: #ffffff; color: #333333; font-family: 'Poppins', sans-serif; }

/*a:hover {text-decoration: none;}*/
button { cursor: pointer; }

a:focus, button, button:focus, input, input:focus, textarea, textarea:focus { outline: 0; }

a, h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 28px; }

h4 { font-size: 24px; }

h5 { font-size: 20px; }

h6 { font-size: 18px; }

img { height: auto; max-width: 100%; }

ul { margin: 0; padding: 0; list-style-type: none; }

/*Input Placeholder*/
*::-moz-placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

*::placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

/*Content Selection*/
*::-moz-selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

*::selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

/*BG Color*/
.bg-black { background-color: #151515; }

.bg-blue { background-color: #0066ff; }

.bg-gray { background-color: #6c757d; }

/* Margin Classes */
/*Margin Top*/
.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.mt-35 { margin-top: 35px; }

.mt-40 { margin-top: 40px; }

.mt-45 { margin-top: 45px; }

.mt-50 { margin-top: 50px; }

.mt-70 { margin-top: 70px; }

/*Margin Right*/
.mr-10 { margin-right: 10px; }

.mr-15 { margin-right: 15px; }

.mr-20 { margin-right: 20px; }

.mr-25 { margin-right: 25px; }

.mr-30 { margin-right: 30px; }

.mr-35 { margin-right: 35px; }

.mr-40 { margin-right: 40px; }

.mr-45 { margin-right: 45px; }

.mr-50 { margin-right: 50px; }

/*Margin Bottom*/
.mb-10 { margin-bottom: 10px; }

.mb-15 { margin-bottom: 15px; }

.mb-20 { margin-bottom: 20px; }

.mb-25 { margin-bottom: 25px; }

.mb-30 { margin-bottom: 30px; }

.mb-35 { margin-bottom: 35px; }

.mb-40 { margin-bottom: 40px; }

.mb-45 { margin-bottom: 45px; }

.mb-50 { margin-bottom: 50px; }

/*Margin Left*/
.ml-10 { margin-left: 10px; }

.ml-15 { margin-left: 15px; }

.ml-20 { margin-left: 20px; }

.ml-25 { margin-left: 25px; }

.ml-30 { margin-left: 30px; }

.ml-35 { margin-left: 35px; }

.ml-40 { margin-left: 40px; }

.ml-45 { margin-left: 45px; }

.ml-50 { margin-left: 50px; }

/* Padding Classes */
/*Padding Top*/
.pt-10 { padding-top: 10px; }

.pt-15 { padding-top: 15px; }

.pt-20 { padding-top: 20px; }

.pt-25 { padding-top: 25px; }

.pt-30 { padding-top: 30px; }

.pt-35 { padding-top: 35px; }

.pt-40 { padding-top: 40px; }

.pt-45 { padding-top: 45px; }

.pt-50 { padding-top: 50px; }

.pt-55 { padding-top: 55px; }

.pt-60 { padding-top: 60px; }

.pt-65 { padding-top: 65px; }

.pt-70 { padding-top: 70px; }

.pt-75 { padding-top: 75px; }

.pt-80 { padding-top: 80px; }

.pt-85 { padding-top: 85px; }

.pt-90 { padding-top: 90px; }

.pt-95 { padding-top: 95px; }

/*Padding Right*/
.pr-10 { padding-right: 10px; }

.pr-15 { padding-right: 15px; }

.pr-20 { padding-right: 20px; }

.pr-25 { padding-right: 25px; }

.pr-30 { padding-right: 30px; }

.pr-35 { padding-right: 35px; }

.pr-40 { padding-right: 40px; }

.pr-45 { padding-right: 45px; }

.pr-50 { padding-right: 50px; }

.pr-55 { padding-right: 55px; }

.pr-60 { padding-right: 60px; }

.pr-65 { padding-right: 65px; }

.pr-70 { padding-right: 70px; }

.pr-75 { padding-right: 75px; }

.pr-80 { padding-right: 80px; }

.pr-85 { padding-right: 85px; }

.pr-90 { padding-right: 90px; }

.pr-95 { padding-right: 95px; }

/*Padding Bottom*/
.pb-10 { padding-bottom: 10px; }

.pb-15 { padding-bottom: 15px; }

.pb-20 { padding-bottom: 20px; }

.pb-25 { padding-bottom: 25px; }

.pb-30 { padding-bottom: 30px; }

.pb-35 { padding-bottom: 35px; }

.pb-40 { padding-bottom: 40px; }

.pb-45 { padding-bottom: 45px; }

.pb-50 { padding-bottom: 50px; }

.pb-55 { padding-bottom: 55px; }

.pb-60 { padding-bottom: 60px; }

.pb-65 { padding-bottom: 65px; }

.pb-70 { padding-bottom: 70px; }

.pb-75 { padding-bottom: 75px; }

.pb-80 { padding-bottom: 80px; }

.pb-85 { padding-bottom: 85px; }

.pb-90 { padding-bottom: 90px; }

.pb-95 { padding-bottom: 95px; }

/*Padding Left*/
.pl-10 { padding-left: 10px; }

.pl-15 { padding-left: 15px; }

.pl-20 { padding-left: 20px; }

.pl-25 { padding-left: 25px; }

.pl-30 { padding-left: 30px; }

.pl-35 { padding-left: 35px; }

.pl-40 { padding-left: 40px; }

.pl-45 { padding-left: 45px; }

.pl-50 { padding-left: 50px; }

.pl-55 { padding-left: 55px; }

.pl-60 { padding-left: 60px; }

.pl-65 { padding-left: 65px; }

.pl-70 { padding-left: 70px; }

.pl-75 { padding-left: 75px; }

.pl-80 { padding-left: 80px; }

.pl-85 { padding-left: 85px; }

.pl-90 { padding-left: 90px; }

.pl-95 { padding-left: 95px; }

.custom-btn { background-color: #29b6f6; color: green; font-size: 12px; font-family: "Open Sans", sans-serif; font-weight: 400; width: 100%; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 15px 20px; border: none; }
.custom-btn:hover, .custom-btn:focus { background-color: #000000; color: #ffffff; border-color: transparent; }

h1 { font-style: normal; font-size: 50px; font-family: "Open Sans", sans-serif; font-weight: 700; line-height: 1.2; }

h2 { font-size: 36px; font-family: "Raleway", sans-serif; font-style: normal; font-weight: 400; line-height: 1.3; text-transform: uppercase; }

h3 { font-size: 20px; font-family: "Open Sans", sans-serif; font-style: normal; font-weight: 700; line-height: 1; }

h4 { font-size: 16px; font-family: "Raleway", sans-serif; font-style: normal; font-weight: 300; line-height: 1.3; }

h5 { font-size: 15px; font-family: "Open Sans", sans-serif; font-weight: 600; font-style: normal; }

h6 { font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 700; font-style: normal; }

p { font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; color: #86878b; }

/* ========================================================================== >start common ========================================================================== */
.fa:hover { color: #000000; }

.sublist-border { border-bottom: 2px solid #ff9b51; width: 63px; }

.why-para { padding: 55px 0px 77px 0px; }

.form-control { border-top: 1px solid white; border-right: 1px solid white; border-left: 1px solid white; }

.form-control:focus { outline: none; box-shadow: none !important; border: 1px solid #fff !important; }

.form-group textarea { resize: none; margin-top: 12px; }

.download-btn { background-color: transparent; color: #ffffff; font-size: 0px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 0px auto 0 auto; padding: 9px 33px 9px 33px; font-size: 15px; font-family: "Open Sans", sans-serif; font-weight: 400; display: inline-block; border: 2px solid white; }
.download-btn:hover, .download-btn:focus { background-color: #000000; color: #ffffff; border-color: transparent; }

/* ========================================================================== >  start header ========================================================================== */
.header { background-color: #000000; padding: 9px 0; }
.header .navbar-light .navbar-nav .nav-link { color: rgba(255, 255, 255, 0.69); padding: 0x 0px 0px 0px; }
.header img { padding: 9px 0px 0px 0px; }

.navbar ul > li { padding: 0px 50px 0px 0px; }
.navbar ul > li:last-child { padding: 0px 0px 0px 0px; }

.navbar-light .navbar-nav .nav-link:hover { color: #ff9b51; }

/* ========================================================================== > start background-image section ========================================================================== */
.banner { min-height: 643px; }
.banner .caption { padding: 132px 0px 132px 0px; }
.banner .caption h1 { color: #ffffff; font-size: 80px; }
.banner .caption h1 span { color: #ff9b51; font-weight: 100; }
.banner .caption h2 { color: #ffffff; }
.banner .caption h4 { color: #ffffff; padding: 44px 0px 44px 0px; }
.banner .caption .border-bottom { border-bottom: 2px solid white !important; width: 69px; padding: 44px 0px 0px 0px; }

.form-back { background-color: #ffffff; max-width: 380px; }
.form-back .form-header { background-color: #f5f5f5; padding: 20px 76px 20px 52px; color: #767676; }
.form-back .form-header span { color: #ff9b51; }
.form-back .form-group { padding: 30px 52px 0px 52px; }
.form-back .get-start-btn { background-color: #ff9b51; color: #ffffff; font-size: 0px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 32px auto 0 auto; padding: 16px 0px 16px 0px; font-size: 15px; font-family: "Open Sans", sans-serif; font-weight: 400; display: inline-block; width: 100%; border: 1px solid #ff9b51; }
.form-back .get-start-btn:hover, .form-back .get-start-btn:focus { background-color: #000000; color: #ffffff; border-color: transparent; }

/* ========================================================================== >  start social-media section ========================================================================== */
.social-media { box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38); padding: 24px 0px 24px 0px; }
.social-media a { color: #cccccc; text-decoration: none; font-size: 48px; padding: 0px 0px 0px 30px; }
.social-media h3 { padding: 0px 0px 4px 0px; }

/* ========================================================================== > start vertical-tab ========================================================================== */
.tabs { background-color: #f5f5f5; padding: 145px 0px 116px 0px; }
.tabs .nav-pills li:hover { background-color: #000000; }

.tabs .tab-pane { margin-left: 20px; }

.tabs h3 { font-size: 20px; margin-top: 10px; margin-bottom: 60px; }

.tabs p { font-size: 14px; }

.tabs a { font-size: 15px; font-family: OpenSans,sans-serif; font-weight: 700; color: #fff; text-decoration: none; }

.tabs li { background-color: #333; margin-top: 1px; text-align: center; height: 110px; width: 110px; padding-top: 45px; -webkit-border-radius: 3px; border-radius: 3px; }

.tabs li.active { background-color: #ff8b38; }

.tab-content .tab-btn { background-color: #ff9b51; color: #ffffff; font-size: 0px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 32px auto 0 auto; padding: 11px 30px 11px 30px; font-size: 15px; font-weight: 400; display: inline-block; border: 2px solid white; border-radius: 5px; }
.tab-content .tab-btn:hover, .tab-content .tab-btn:focus { background-color: #000000; color: #ffffff; border-color: transparent; }
.tab-content img:hover { opacity: 0.8; }

/* ========================================================================== > start sub-list section ========================================================================== */
.sub-list { padding: 109px 0px 90px 0px; }
.sub-list .sub-list-content { padding: 0px 0px 0px 0px; }
.sub-list .sub-list-content h3 { padding: 0px 0px 30px 0px; }
.sub-list .sub-list-content .first-content { padding: 34px 0px 44px 0px; }
.sub-list .sub-list-content .fa-cloud-upload { color: #ff9b51; border: 2px solid #ff9b51; border-radius: 50%; font-size: 16px; width: 40px; height: 40px; padding: 9px 0px 0px 9px; }
.sub-list .sub-list-content .fa-cloud-upload:hover { background-color: #ff9b51; color: #ffffff; }
.sub-list .sub-list-content ul > li { padding: 0px 0px 60px 0px; }
.sub-list .sub-list-content p { padding: 0px 0px 40px 0px; }
.sub-list img:hover { opacity: 0.8; }

/* ========================================================================== >start standard-picture ========================================================================== */
.standard-picture { background-color: #f5f5f5; padding: 103px 0px 103px 0px; }
.standard-picture h3 { padding: 0px 0px 30px 0px; }
.standard-picture p { padding: 30px 0px 0px 0px; }
.standard-picture img { padding: 0px 0px 0px 0px; width: 100%; height: auto; }
.standard-picture img:hover { opacity: 0.8; }

/* ========================================================================== >start awesome section ========================================================================== */
.awesome { padding: 108px 0px 108px 0px; }
.awesome span { border-bottom: 2px solid #ff9b51; padding: 0px 0px 28px 0px; }
.awesome .fa { border: 2px solid #ff9b51; border-radius: 50%; width: 70px; height: 70px; color: #ff9b51; font-size: 32px; padding-top: 16px; }
.awesome .fa:hover { background-color: #ff9b51; color: #ffffff; }
.awesome h3 { padding: 30px 0; }

/* ========================================================================== >  start pricing-options sections ========================================================================== */
.pricing-options { background-color: #f5f5f5; padding: 100px 0px 100px 0px; }
.pricing-options .pricing-border { border-bottom: 2px solid #ff9b51; padding: 0px 0px 28px 0px; }
.pricing-options .basic { background-color: #333333; color: #ffffff; border-bottom: 1px solid white; padding: 22px 0; }
.pricing-options .free-life { background-color: #333333; color: #ffffff; border-bottom: 5px solid #ff8b38; padding: 0px 0px 0px 0px; }
.pricing-options .free-life span { font-size: 94px; font-family: "Raleway", sans-serif; font-weight: 700; }
.pricing-options .free-life h5 { color: rgba(255, 255, 255, 0.502); font-size: 14px; padding: 0px 0px 0px 0px; }
.pricing-options .free-life h6 { background-color: #ff8b38; padding: 12px 0; opacity: 0; }
.pricing-options .pricing-list { background-color: #ffffff; }
.pricing-options .pricing-list li { padding: 15px 0; border-bottom: 1px solid #f5f5f5; }
.pricing-options .pricing-list li:first-child { border-top: none; }
.pricing-options .pricing-list li:last-child { border-bottom: none; }
.pricing-options .pricing-list a { text-decoration: none; }
.pricing-options ul:hover { -ms-transform: scale(1.1); /* IE 9 */ -webkit-transform: scale(1.1); /* Safari 3-8 */ transform: scale(1.1); transform-origin: bottom center; }
.pricing-options ul:hover .free-life { border-bottom: none !important; }
.pricing-options ul:hover .free-life h6 { opacity: 1; }
.pricing-options ul:hover .free-life a { color: #ffffff; text-decoration: none; }

/* ========================================================================== >  start customer-say section ========================================================================== */
.customer-say { padding: 100px 0px 90px 0px; }
.customer-say .pricing-border { border-bottom: 2px solid #ff9b51; padding: 0px 0px 28px 0px; }
.customer-say .testimonial { background-color: #f5f5f5; position: relative; }
.customer-say .testimonial p { padding: 28px 0px 28px 8px; }
.customer-say .testimonial:after { content: ''; position: absolute; width: 0; height: 0; border-left: 15px solid white; border-right: 15px solid white; border-top: 13px solid #f5f5f5; border-bottom: 15px solid white; background-color: #f5f5f5; left: 26px; }
.customer-say .media { padding: 30px 0px 0px 0px; }
.customer-say .media .overview { margin-top: 15px; }

/* ========================================================================== >  start stylish-section ========================================================================== */
.stylish { min-height: 323px; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; }
.stylish .caption h2 { color: #ffffff; padding: 75px 0px 0px 0px; }
.stylish .caption h4 { color: #ffffff; padding: 65px 0px 0px 0px; }
.stylish .caption span { border-bottom: 2px solid white; padding: 25px 0; }
.stylish .download-btn { margin: 36px 0px 62px 0px; }

/* ========================================================================== > start footer-up ========================================================================== */
.footer-up { padding: 109px 0px 80px 0px; }
.footer-up span { border-bottom: 2px solid #ff9b51; padding: 0px 0px 28px 0px; }
.footer-up .send-message-btn { background-color: #ff9b51; color: #ffffff; font-size: 0px; font-family: "Open Sans", sans-serif; font-weight: 400; width: auto; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 43px auto 0 auto !important; padding: 13px 27px 13px 27px; font-size: 15px; font-family: "Open Sans", sans-serif; font-weight: 400; display: inline-block; border: 2px solid white; border-radius: 5px; }
.footer-up .send-message-btn:hover, .footer-up .send-message-btn:focus { background-color: #000000; color: #ffffff; border-color: transparent; }

/* ========================================================================== >  start footer-down ========================================================================== */
.footer-down { background-color: #000000; padding: 20px 0px 10px 0px; }
.footer-down a { font-size: 24px; color: #cccccc; padding: 0px 0px 0px 15px; }

/* ========================================================================== > slick start ========================================================================== */
/* ========================================================================== > Comment start ========================================================================== */
@media (max-width: 575.98px) { .background-image .download-btn { margin-bottom: 20px; }
  .background-image .form-back { margin-bottom: 20px; }
  .vertical-tab .tab-right-img { padding-top: 100px; }
  .vertical-tab h3 { margin-top: 30px; }
  .social-media a { font-size: 30px; padding: 0px 15px 0px 15px; }
  .awesome p { padding-bottom: 20px; }
  h2 { font-size: 26px; }
  .navbar { margin-top: -40px; }
  .header .header-background img { padding: 16px 0px 0px 0px; margin-left: 15px; }
  .background-image .h-100 { height: auto !important; }
  .sub-list .sub-list-content { padding: 0; }
  .standard-picture img { padding: 0; margin-top: 80px; } }
@media (min-width: 576px) and (max-width: 767.98px) { .background-image .download-btn { margin-bottom: 20px; }
  .background-image .form-back { margin-bottom: 20px; }
  .vertical-tab .tab-right-img { padding-top: 100px; }
  .vertical-tab h3 { margin-top: 30px; }
  .awesome p { padding-bottom: 20px; }
  .social-media a { font-size: 30px; padding: 0px 15px 0px 15px; }
  h2 { font-size: 26px; }
  .navbar { margin-top: -40px; }
  .header .header-background img { padding: 16px 0px 0px 0px; margin-left: 15px; }
  .background-image .h-100 { height: auto !important; }
  .sub-list .sub-list-content { padding: 0; }
  .standard-picture img { padding: 0; margin-top: 80px; } }
@media (min-width: 768px) and (max-width: 991.98px) { .background-image .download-btn { margin-bottom: 20px; }
  .background-image .form-back { margin-bottom: 20px; }
  .vertical-tab .tab-right-img { padding-top: 100px; }
  .vertical-tab h3 { margin-top: 30px; }
  .awesome p { padding-bottom: 20px; }
  .social-media a { font-size: 30px; padding: 0px 15px 0px 15px; }
  h2 { font-size: 26px; }
  .navbar { margin-top: -40px; }
  .header .header-background img { padding: 16px 0px 0px 0px; margin-left: 15px; }
  .background-image .h-100 { height: auto !important; }
  .sub-list .sub-list-content { padding: 0; }
  .standard-picture img { padding: 0; margin-top: 80px; } }
@media (min-width: 360px) and (max-width: 640px) { .background-image .col-sm-12 { max-width: 410px; } }
@media (min-width: 411px) and (max-width: 736px) { .background-image .col-sm-12 { max-width: 410px; } }

/*# sourceMappingURL=style.css.map */
