$white: #ffffff;
$black: #000000;
$dark-black: #353535;
$dark: #1c1c1c;
$black-deep: #111111;
$black-light: #3e3e3e;
$light-green: #128712;
$dark-green: #1B5E20;
$dark-blue:#29b6f6;
$gray-light: #a6a6a6;
$gray: #999999;
$gray-bright: #c2c2c2;
$dark-grey:#a8a8a8;
$red-color: #b71c1c;
$pink:#fd3b68;
$dark-yellow:#ff9b51;
$transparent:transparent;


$display-block:block;
$position-absolute:absolute;
$position-relative:relative;
$bg-white:#fff;
$bg-red:#ff6666;
$bg-green:#009900;
$bg-blue:#35369c;
$bg-grey:#f4f4f4;
$button-bg-hover:#00C3AA;
$width-hundred-percent:100%;
$height-hundred-percent:100%;

$base-font-size:14px;
$line-height: 1.429;

$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

$thin:100;
$extra-light:200;
$light:300;
$regular:400;
$bold:700;
$semi-bold:600;
$medium:500;
$extra-bold:800;
