
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .background-image{
    .download-btn{
      margin-bottom: 20px;
    }
    .form-back{
      margin-bottom: 20px;
    }
  }
  .vertical-tab{
    .tab-right-img{
      padding-top:100px;
    }
    h3{
      margin-top:30px;
    }
  }
  .social-media a {
    font-size: 30px;
    padding: 0px 15px 0px 15px;
  }
  .awesome{
    p{
      padding-bottom: 20px;
    }
    }
  h2{
    font-size:26px;
  }
  .navbar{
    margin-top: -40px;
  }
  .header .header-background img {
    padding: 16px 0px 0px 0px;
    margin-left: 15px;
  }
  .background-image .h-100{
    height: auto !important;
  }
  .sub-list .sub-list-content{
    padding: 0;
  }
  .standard-picture img {
   padding:0;
    margin-top: 80px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .background-image{
    .download-btn{
      margin-bottom: 20px;
    }
    .form-back{
      margin-bottom: 20px;
    }
  }
  .vertical-tab{
    .tab-right-img{
      padding-top:100px;
    }
    h3{
      margin-top:30px;
    }
  }
  .awesome{
    p{
      padding-bottom: 20px;
    }
  }
  .social-media a {
    font-size: 30px;
    padding: 0px 15px 0px 15px;
  }
  h2{
    font-size:26px;
  }
  .navbar{
    margin-top: -40px;
  }
  .header .header-background img {
    padding: 16px 0px 0px 0px;
    margin-left: 15px;
  }
  .background-image .h-100{
    height: auto !important;
  }
  .sub-list .sub-list-content{
    padding: 0;
  }
  .standard-picture img {
    padding:0;
    margin-top: 80px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .background-image{
    .download-btn{
      margin-bottom: 20px;
    }
    .form-back{
      margin-bottom: 20px;
    }
  }
  .vertical-tab{
    .tab-right-img{
      padding-top:100px;
    }
    h3{
      margin-top:30px;
    }
  }
  .awesome{
    p{
      padding-bottom: 20px;
    }
  }
  .social-media a {
    font-size: 30px;
    padding: 0px 15px 0px 15px;
  }
  h2{
    font-size:26px;
  }
  .navbar{
    margin-top: -40px;
  }
  .header .header-background img {
    padding: 16px 0px 0px 0px;
    margin-left: 15px;
  }
  .background-image .h-100{
    height: auto !important;
  }
  .sub-list .sub-list-content{
    padding: 0;
  }
  .standard-picture img {
    padding:0;
    margin-top: 80px;
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// specific device targer
@media (min-width: 360px) and (max-width: 640px) {
  .background-image{
    .col-sm-12{
      max-width: 410px;
    }
  }
}
@media (min-width: 411px) and (max-width: 736px) {
  .background-image{
    .col-sm-12{
      max-width: 410px;
    }
  }
}