/* ==========================================================================
  >start common
  ========================================================================== */
.fa:hover{
  color:$black;
}
.sublist-border{
  border-bottom: 2px solid $dark-yellow;
  width: 63px;
}
.why-para{
  padding:55px 0px 77px 0px;
}
.form-control{
  border-top:1px solid white;
  border-right:1px solid white;
  border-left:1px solid white;
}
.form-control:focus {
  outline: none;
  box-shadow:none !important;
  border:1px solid #fff !important;
}

.form-group textarea {
  resize: none;
  margin-top: 12px;
}
.download-btn{
  @include btn($transparent, $white, 0px, $open-sans, $regular, auto, #ff3251, $black, $white, #FFEF44);
  margin: 0px auto 0 auto;
  padding: 9px 33px 9px 33px;
  font-size: 15px;
  font-family: $open-sans;
  font-weight: $regular;
  display: inline-block;
  border: 2px solid white;
}
/* ==========================================================================
  >  start header
  ========================================================================== */
.header{
  background-color: #000000;
  padding:9px 0;
    .navbar-light .navbar-nav .nav-link{
   color: rgba(255, 255, 255, 0.69);
      padding: 0x 0px 0px 0px;
  }
    img{
      padding:9px 0px 0px 0px;
    }
  }

  .navbar ul>li{
    padding: 0px 50px 0px 0px;
    &:last-child{
      padding: 0px 0px 0px 0px;
    }
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color:$dark-yellow;
  }
  .navbar-light .navbar-nav .nav-link.active{
  }

  /* ==========================================================================
    > start background-image section
    ========================================================================== */
.banner{
min-height: 643px;
  .caption{
    padding:132px 0px 132px 0px;
    h1{
      color:$white;
      font-size: 80px;
      span{
        color:$dark-yellow;
        font-weight: $thin;
      }
    }
    h2{
      color:$white;
    }
    h4{
      color:$white;
      padding:44px 0px 44px 0px;
    }
    .border-bottom{
      border-bottom: 2px solid white !important;
      width: 69px;
      padding:44px 0px 0px 0px;
    }
  }
}
.form-back{
  background-color: $white;
  max-width: 380px;
  .form-header{
    background-color: #f5f5f5;
    padding:20px 76px 20px 52px;
    color: #767676;
    span{
      color:$dark-yellow;
    }
  }

  .form-group{
    padding:30px 52px 0px 52px;
  }

  .get-start-btn{
    @include btn($dark-yellow, $white, 0px, $open-sans, $regular, auto, #ff3251, $black, $white, #FFEF44);
    margin: 32px auto 0 auto;
    padding: 16px 0px 16px 0px;
    font-size: 15px;
    font-family: $open-sans;
    font-weight: $regular;
    display: inline-block;
    width: 100%;
    border:1px solid $dark-yellow;
  }
}

/* ==========================================================================
  >  start social-media section
  ========================================================================== */
.social-media{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
  padding:24px 0px 24px 0px;
  a{
    color:#cccccc;
    text-decoration: none;
    font-size: 48px;
    padding:0px 0px 0px 30px;
  }
  h3{
    padding:0px 0px 4px 0px;
  }
}

/* ==========================================================================
  > start vertical-tab
  ========================================================================== */

.tabs{
  background-color:#f5f5f5;
 padding:145px 0px 116px 0px;
  .nav-pills li:hover{
    background-color: $black;
  }
}

.tabs .tab-pane{
  margin-left:20px;
}

.tabs h3{
  font-size:20px;
  margin-top:10px;
  margin-bottom:60px;
}

.tabs p{
  font-size:14px;
}

.tabs a{
  font-size:15px;
  font-family:OpenSans,sans-serif;
  font-weight:700;
  color:#fff;
  text-decoration: none;
}

.tabs li{
  background-color:#333;
  margin-top:1px;
  text-align:center;
  height:110px;
  width:110px;
  padding-top:45px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.tabs li.active{
  background-color:#ff8b38;
}

.tab-content{
  .tab-btn{
    @include btn($dark-yellow, $white, 0px, $open-sans, $regular, auto, #ff3251, $black, $white, #FFEF44);
    margin: 32px auto 0 auto;
    padding: 11px 30px 11px 30px;
    font-size: 15px;
    font-weight: $regular;
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
  }
  img:hover{
    opacity: 0.8;
  }
}

/* ==========================================================================
  > start sub-list section
  ========================================================================== */
.sub-list{
  padding:109px 0px 90px 0px;

  .sub-list-content{
    padding:0px 0px 0px 0px;
    h3{
      padding:0px 0px 30px 0px;
    }
    .first-content{
      padding:34px 0px 44px 0px;
    }
    .fa-cloud-upload{
      color:$dark-yellow;
      border:2px solid $dark-yellow;
      border-radius: 50%;
      font-size: 16px;
      width: 40px;
      height:40px;
      padding: 9px 0px 0px 9px;
      &:hover{
      background-color: $dark-yellow;
        color:$white;
    }
    }
    ul>li{
      padding:0px 0px 60px 0px;
    }
    p{
      padding:0px 0px 40px 0px;
    }
  }
  img:hover{
    opacity: 0.8;
  }
}

/* ==========================================================================
  >start standard-picture
  ========================================================================== */
.standard-picture{
  background-color: #f5f5f5;
  padding:103px 0px 103px 0px;
  h3{
    padding:0px 0px 30px 0px;
  }
  p{
    padding:30px 0px 0px 0px;
  }
  img{
    padding:0px 0px 0px 0px;
    width: 100%;
    height:auto;
   &:hover{
     opacity: 0.8;
   }
  }
}
/* ==========================================================================
  >start awesome section
  ========================================================================== */
.awesome{
 padding:108px 0px 108px 0px;

  span{
    border-bottom: 2px solid $dark-yellow;
    padding:0px 0px 28px 0px;
  }
  .fa{
    border:2px solid $dark-yellow;
    border-radius: 50%;
    width:70px;
    height:70px;
    color:$dark-yellow;
    font-size: 32px;
   padding-top:16px;
    &:hover{
      background-color:$dark-yellow;
      color:$white;
    }
  }
  h3{
   padding:30px 0;
  }
}

/* ==========================================================================
  >  start pricing-options sections
  ========================================================================== */
.pricing-options{
  background-color: #f5f5f5;
  padding:100px 0px 100px 0px;
  .pricing-border{
    border-bottom: 2px solid $dark-yellow;
    padding:0px 0px 28px 0px;
  }
  .basic{
    background-color: #333333;
    color:$white;
    border-bottom: 1px solid white;
    padding:22px 0;
  }
  .free-life{
    background-color: #333333;
    color:$white;
    border-bottom: 5px solid #ff8b38;
    padding:0px 0px 0px 0px;
    span{
      font-size: 94px;
      font-family: $raleway;
      font-weight: $bold;
    }
    h5{
      color: rgba(255, 255, 255, 0.502);
      font-size: 14px;
      padding:0px 0px 0px 0px;
    }
    h6{
    background-color:#ff8b38;
      padding: 12px 0;
      opacity: 0;
    }
  }
  .pricing-list{
    background-color: $white;
    li{
      padding:15px 0;
      border-bottom: 1px solid #f5f5f5;
      &:first-child{
        border-top:none;
      }
      &:last-child{
        border-bottom:none;
      }
      &:hover{

      }
    }
    a{
      text-decoration: none;
    }
  }
  ul:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transform-origin: bottom center;
    .free-life{
      border-bottom: none !important;
      h6{
        opacity: 1;
      }
      h5{

      }
      a{
         color:$white;
        text-decoration: none;
      }
    }
  }


  }

/* ==========================================================================
  >  start customer-say section
  ========================================================================== */
.customer-say{
  padding:100px 0px 90px 0px;
  .pricing-border{
    border-bottom: 2px solid $dark-yellow;
    padding:0px 0px 28px 0px;
  }
  .testimonial{
    background-color: #f5f5f5;
    position: relative;
    p{
      padding:28px 0px 28px 8px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 15px solid white;
      border-right: 15px solid white;
      border-top: 13px solid #f5f5f5;
      border-bottom:15px solid white;
      background-color: #f5f5f5;
      left:26px;
    }
  }

  .media{
    padding:30px 0px 0px 0px;
    .overview{
      margin-top:15px;
    }
  }
}

/* ==========================================================================
  >  start stylish-section
  ========================================================================== */
.stylish{
  min-height:323px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .caption{
  h2{
    color:$white;
    padding:75px 0px 0px 0px;
  }
    h4{
      color:$white;
      padding:65px 0px 0px 0px;
    }
    span{
      border-bottom: 2px solid white;
      padding:25px 0;
    }
  }
  .download-btn{
    margin: 36px 0px 62px 0px;
  }
}

/* ==========================================================================
  > start footer-up
  ========================================================================== */
.footer-up{
  padding:109px 0px 80px 0px;
  span{
    border-bottom: 2px solid $dark-yellow;
    padding:0px 0px 28px 0px;
  }
  .send-message-btn{
    @include btn($dark-yellow, $white, 0px, $open-sans, $regular, auto, #ff3251, $black, $white, #FFEF44);
    margin: 43px auto 0 auto !important;
    padding: 13px 27px 13px 27px;
    font-size: 15px;
    font-family: $open-sans;
    font-weight: $regular;
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
  }
}
/* ==========================================================================
  >  start footer-down
  ========================================================================== */
.footer-down{
 background-color:$black;
  padding:20px 0px 10px 0px;
  a{
    font-size: 24px;
    color:#cccccc;
    padding:0px 0px 0px 15px;
  }
}

/* ==========================================================================
  > slick start
  ========================================================================== */


/* ==========================================================================
  > Comment start
  ========================================================================== */

